Translate the following text from English to {{ target_language }}:

"{{text}}"

If the text is alredy in {{ target_language }}, simply return it. Return only the text, no comments or similar. Do not add quotation marks around the text.

Your answer: